<!DOCTYPE html>
<html>
<head>
    <title>Upload XML</title>
</head>
<body>
    <h1>Upload XML File</h1>
    
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}
    
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept=".xml">
        <button type="submit">Upload</button>
    </form>
</body>
</html>